/* GENERAL */
body {
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%2;
}
/* /GENERAL */


/* HEADER */
header {
  height: 70px;
  width: 100%;
  background-color: #F8F9FA;
}

.logo-mobile {
  width: 50px;
}

.mf-bg-header {
  background-color: white;
}

.mf-action  {
  border: 2px solid #E5E5E5;
  background-color: #E5E5E5;
}

.nav-item .nav-link .bi-bell-fill {
  color: #FF8F00; 
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1);
}

/* /HEADER */

/* MAIN */
/* ASIDE-LEFT */
.mf-aside {
  background-color: aqua;
}

.mf-top, .mf-bottom {
  background-color: blueviolet;
  border: 1px solid black;
  height: 100px ;
  width: 100%;
}
/* /ASIDE-LEFT */


/* RIGHT CONTENT MAIN */
.mf-content-main {
  background-color: black;
  overflow: auto;
  height: calc(100vh - 70px);
}


/* /RIGHT CONTENT MAIN */
/* /MAIN */