/* GENERAL */
/* /GENERAL */


/* HEADER */
header {
  height: 70px;
  width: 100%;
  background-color: red;
}

.mf-search {
  width: 80%;
}

.mf-action  {
  border: none;
  background-color: #E5E5E5;
}


/* /HEADER */

/* MAIN */
/* ASIDE-LEFT */
.mf-aside {
  background-color: aqua;
}

.mf-top, .mf-bottom {
  background-color: blueviolet;
  border: 1px solid black;
  height: 100px ;
  width: 100%;
}
/* /ASIDE-LEFT */


/* RIGHT CONTENT MAIN */
.mf-content-main {
  background-color: black;
  overflow: auto;
  height: calc(100vh - 70px);
}


/* /RIGHT CONTENT MAIN */
/* /MAIN */